# .github/workflows/deploy.yml
name: Deploy Docker

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Write .env.local from GitHub secret
        run: echo "${{ secrets.PROD_ENV }}" > .env.local

      - name: Build and Deploy with Docker Compose
        run: |
          docker compose down
          docker compose build --no-cache
          docker compose up -d
